<!DOCTYPE html>
<html data-theme="light">
  <head>
    <title>Tiny Insurer</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <div>

      <p class="notice center"><%= notice %></p>
      <p class="alert center"><%= alert %></p>

      <%# navbar %>
      <nav class="navbar is-light is-expanded" role="navigation" aria-label="main-navigation" style="margin: 0px auto 30px">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <h1 class="title is-4">Tiny Insurer</h1>
          </a>
        </div>
        <div class="navbar-menu">
          <div class="navbar-start">
            <% if user_signed_in? %>
              <%= link_to('All Policies', policies_path, class: 'navbar-item') %>
              <%= link_to('New policy', new_policy_path, class: 'navbar-item') %>
            <% end %>
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <% if user_signed_in? %>  
                <div class="navbar-item" style="font-size: 0.8em; font-weight: bold">
                  <%= current_user.email %>
                </div>
                <%= button_to("Log Out", destroy_user_session_path, method: :delete, class: 'button is-danger is-outlined is-small') %>
              <% else %>
                <%= link_to("Sign In", new_user_session_path, class: 'button is-link is-small') %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      </nav>
      <%# end navbar %>

      <%= yield %>

    </div>
    <div class="footer">
    </div>
  </body>
</html>
