<h1 class="title is-2 center">All policies</h1>
<table class="policy-list table is-hoverable">
  <tr>
    <th>ID</th>
    <th>Insured Name</th>
    <th>CPF</th>
    <th>Vehicle Plate</th>
    <th>Vehicle Brand and Model</th>
    <th>Insured at</th>
    <th>Insured until</th>
    <th>Status</th>
    <th>Payment Link</th>
  </tr>
  <% @policies.each do |policie| %>
    <tr>
      <td><%= policie[:id] %></td>
      <td><%= policie[:insured][:name] %></td>
      <td><%= policie[:insured][:cpf] %></td>
      <td><%= policie[:vehicle][:plate] %></td>
      <td><%= policie[:vehicle][:brand] %> <%= policie[:vehicle][:model] %></td>
      <td><%= policie[:insuredAt] %></td>
      <td><%= policie[:insuredUntil] %></td>
      <td><%= policie[:status] %></td>
      <td style="max-width: 200px; overflow: hidden;">
        <a href="<%= policie[:paymentLink] %>" target="_blank"><%= policie[:paymentLink] %></a>
      </td>
    </tr>
  <% end %>
</table>
